@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <div class=" row form-group">
            <div class="col-lg-4 col-sm-4 form-group ">
                <b> @Html.ActionLink("Login", "UsersLogin", "UsersLogin", new { style = "color: #f36633;" })</b>
              
            </div>
           
        </div>
   </div>
